<template>
  <mdb-container>
    <div class="hello">
      <h3>{{ msg }}</h3>
      <!-- <p class="mb-2">The application is configured and ready to import our components. You will find MDB Vue docs <a href="https://mdbootstrap.com/vue/" target="_blank">here</a>.</p> -->
      <mdb-btn color="default" v-on:click="wsConnect">Connect</mdb-btn>
      <br>
      <mdb-btn color="default" v-on:click="wsDisconnect">Disconnect</mdb-btn>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Basic textarea</label>
        <!-- <textarea class="form-control" v-model="statusMessage" id="exampleFormControlTextarea1" rows="5"></textarea> -->
        <p>Message is: {{ statusMessage }}</p>
      </div>
    </div>
  </mdb-container>
</template>

<script>
import { mdbBtn } from "mdbvue";
import {mdbContainer} from 'mdbvue';

const wss_url =  'wss://f5gx6x6b6f.execute-api.ap-southeast-2.amazonaws.com/uat';
let socket;

export default {
  name: "HelloWorld",
  components: {
    mdbBtn,
    mdbContainer,
  },
  data() {
    return {
      msg: "Welcome to Your MDB Vue.js App sd",
      statusMessage: 'none',
    };
  },
  methods:{
    updateStatus: function(msg){
      this.statusMessage = msg;
    },

    wsConnect: function () {
      console.log('wsConnect');
      socket = new WebSocket(wss_url);
      let statusMessage = this.statusMessage;

      this.statusMessage = 'connecting';
      socket.updateStatus = this.updateStatus;

      socket.addEventListener('open', function (event) {
        console.log('connected');
        const body = {
          action:'subscribeChannel',
          message:'hello world'
          };
        socket.send(JSON.stringify(body));
        this.updateStatus('connected');
      });

      socket.addEventListener('close', function (event) {
        console.log('dis connected');
        const body = {
          action:'unsubscribeChannel',
          message:'hello world'
          };
        // socket.send(JSON.stringify(body));
        this.updateStatus('disconnected');
      });

      socket.addEventListener('message', function (event) {
          console.log('Message from server ', event.data);
          this.updateStatus(event.data);
      });
    },
    wsDisconnect: function () {
      console.log('wsDisconnect');
      socket.close();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 30px;
}
p {
  color: #969696;
  margin-bottom: 0;
  font-size: 14px;
}
</style>
