<template>
  <div id="app">
    <!-- <img src="./assets/logo-mdb-vue-small.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  text-align: left;
  margin-top: 150px;
}
</style>
